
.start-consultation-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem;
    width: 30%;
}

.consultation-alert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.contultation-alert-info {
    display: flex;
    align-items: center;
}

.consultation-accepted {
    background-color: #FBC403;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.kero-image {
    height: 12rem;
    width: 10rem;
}