.reading-alert-info {
    width: 60%;
    margin-left: 17rem;
    padding: 1rem;
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.image-wand{
    width: 8rem;
    height: 4.5rem;
}

.moon-cat {  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.moon-cat-image {  
    width: 10rem;
}


