.card-reading-container{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    justify-content: center;
}

#card-reading-type img{
    width: 9rem;
    height: 19rem;
}

#card-reading-type {
    width: 10rem;
}