.deck-container {
	display: flex;
	justify-content: space-around;
}

.card-container {
	position: absolute;
	left: 200px;
	bottom: 250px;
	transform: translateY(-50%);
	width: 150px;
	height: 220px;
	z-index: 0;
	transition: transform 0.5s;
	cursor: pointer;
}

.card-container:nth-child(1) {
	transform: translateX(50%) rotate(10deg);
}

.card-container:nth-child(2) {
	transform: translateX(25%) rotate(0deg);
}

.card-container:nth-child(3) {
	transform: translateX(0) rotate(-10deg);
}

.card-container:nth-child(4) {
	transform: translateX(-25%) rotate(-20deg);
}

.card-container img {
	width: 150px;
	height: auto;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selected-cards-container {
	position: absolute;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	right: 400px;
	top: 100px;
}

.clicked-card { 
	width: 120px;

}
