.deck-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.card-container img {
	width: 8rem;
	border: 0.1rem solid #000;
	border-radius: 0.3rem;
}

.cards-container {
	margin-top: 14.8rem;
	margin-bottom: 15rem;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.card-container {
    position: absolute;
	left: 12vmin;
    transition: transform 350ms ease 300ms, left 200ms ease 300ms;  
}

.cards-container:hover .card-container:nth-child(5n + 1) {
	left: 20px;
	transform: rotate(-15deg);
	transition: transform 350ms, left 200ms;
}

.cards-container:hover .card-container:nth-child(5n + 1):hover {
	transition: transform 350ms ease 80ms, left 200ms;
	transform: rotate(-15deg) translate(0px, -25px);
}

.cards-container:hover .card-container:nth-child(5n + 2) {
	left: 40px;
	transform: rotate(-5deg);
	transition: transform 350ms, left 200ms;
}

.cards-container:hover .card-container:nth-child(5n + 2):hover {
	transition: transform 350ms ease 80ms, left 200ms;
	transform: rotate(-5deg) translate(0px, -25px);
}

.cards-container:hover .card-container:nth-child(5n + 3) {
	left: 60px;
	transform: rotate(5deg);
	transition: transform 350ms, left 200ms;
}

.cards-container:hover .card-container:nth-child(5n + 3):hover {
	transition: transform 350ms ease 80ms, left 200ms;
	transform: rotate(5deg) translate(0px, -25px);
}

.cards-container:hover .card-container:nth-child(5n + 4) {
	left: 80px;
	transform: rotate(15deg);
	transition: transform 350ms, left 200ms;
}

.cards-container:hover .card-container:nth-child(5n + 4):hover {
	transition: transform 350ms ease 80ms, left 200ms;
	transform: rotate(15deg) translate(0px, -25px);
}

.cards-container:hover .card-container:nth-child(5n + 5) {
	left: 100px;
	transform: rotate(25deg);
	transition: transform 350ms, left 200ms;
}

.cards-container:hover .card-container:nth-child(5n + 5):hover {
	transition: transform 350ms ease 80ms, left 200ms;
	transform: rotate(25deg) translate(0px, -25px);
}

.selected-cards-container{
	width: 30rem;
	display: flex;
	flex-direction: column;
	gap: 0.5;
}

.choses-cards-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 1rem;
}

.choses-cards-container img{
	width: 5rem;
}
